@import url(bootstrap.min.css);
@import url(font-awesome.min.css);

body {
	font-size: 14px;
}

.table-row {
	color: #fff;
	background-color: #5a7;
}

#logo { color: #092}
.jumbotron { 
	text-align: center;
	margin-top: 10%;
	background-color: rgba(255, 255, 255, 0);
	}

.servicebox { text-align: center;}

footer { text-align: center;}		
/*p { color: #f33; font-size: 24px; text-shadow: 2px 3px #00f; }
*/
#special { color: #55f; }
#welcome { background-image: url(../Images/christmasmarketjena.jpg); 
		background-repeat: no-repeat;
		background-size: cover;
		}

ul { list-style-type: none; }
li { display: inline; }
html, body { height: 100%; }
.full-height { height: 100%; }

.nav a { 
	color: #fff;
	font-size: 16px;
	text-shadow: 1px 1px #333}

p {
	font-size: 14px;
}	
		
table {
	font-size: 14px;
}
